@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<input type="button" id="btnUyeKayit" value="Kayıt" onclick="UyeKayit()" />
<input type="button" id="nbtnGirisYap" value="Giriş Yap" onclick="UyeGiris()" />

<script>
    function UyeKayit() {
        window.location.href="http://localhost:30008/Home/UyeKayit";
    }
    function UyeGiris() {
        window.location.href="http://localhost:30008/Home/UyeGiris";
    
    }
</script>
